body {
  align-content: center;
  background-color: aqua
}

.clsButton {
   width: 50%;
   margin: 10%;
   
}

.clsImgDiv {
  float: left;
  padding: 1%;
}

.clsButtonStyle{
   background-color: blue;
}

